<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://fonts.googleapis.com/scss2?family=Odibee+Sans&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="home.component.scss">
</head>
<body>
  <h1>Aplicaciones Web <span id="scss">Fernanda Palacios</span></h1>
  <div class="carousel-wrapper active">
    <span id="item-1"></span>
    <span id="item-2"></span>
    <span id="item-3"></span>
    <div class="carousel-item item-1 active">
      <a href="http://localhost:4200/home" class="arrow-prev arrow"></a>
      <img
        src="https://png.pngtree.com/thumb_back/fw800/background/20200706/pngtree-futuristic-sci-fi-modern-empty-stage-reflective-concrete-room-with-purple-image_350726.jpg"
        class="d-block w-100"
        alt="..."
      />
      <a href="http://localhost:4200/home" class="arrow-next arrow"></a>
    </div>

    <div class="carousel-item item-2 active">
      <a href="http://localhost:4200/home" class="arrow-prev arrow"></a>
      <img
        src="https://png.pngtree.com/thumb_back/fw800/background/20200706/pngtree-futuristic-sci-fi-modern-empty-stage-reflective-concrete-room-with-purple-image_350726.jpg"
        class="d-block w-100"
        alt="..."
      />
      <a href="http://localhost:4200/home" class="arrow-next arrow"></a>
      <img
      src="https://png.pngtree.com/thumb_back/fw800/background/20200706/pngtree-futuristic-sci-fi-modern-empty-stage-reflective-concrete-room-with-purple-image_350726.jpg"
      class="d-block w-100"
      alt="..."
    />
    </div>

    <div class="carousel-item item-3 active">
      <a href="http://localhost:4200/home" class="arrow-prev arrow"></a>
      <img
        src="https://png.pngtree.com/thumb_back/fw800/background/20200706/pngtree-futuristic-sci-fi-modern-empty-stage-reflective-concrete-room-with-purple-image_350726.jpg"
        class="d-block w-100"
        alt="..."
      />
      <a href="http://localhost:4200/home" class="arrow-next arrow"></a>
    </div>

  </div>
</body>
</html>